.container{

    margin-top: 2%;

    
}

.containerstart{
    background-color:gray;
    width: 30%;
    border: 5px;
    border-radius: 20px;
    border-style: double;
    margin: 0px auto;
}

.text{
    font-size: 30PX;
}